.search-bar {
    display: inline-flex;
    width: auto;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    color: white;
    margin-right: 20px;
    margin-left: 10px;
    font-family: "Hind Mysuru", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.search-input {
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
}

.button {
    width: 100px;
    border-radius: 5px;
}

.nav-menu {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    background-color: black;
    border-radius: 10px;
    padding: 30px;
}

.nav-item{
    color: white;
    margin: 10px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-bar, .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    .search-input {
        height: 20px;
        margin-bottom: 5px;
    }

    .button {
        width: 50%;
        font-size: 16px;
    }
}